@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DCC-Ash";
  src: url("/src/assets/fonts/Dcc-Ash.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
